// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.coverage-markers {
}

atom-text-editor {
  .gutter.line-numbers.coverage-markers-gutter {
    padding-left: 0.8em;
  }
  .gutter .line-number {
    &.line-number-green:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      position: absolute;
      top: 5px;
      left: 0px;
      background: #8BC34A;
    }

    &.line-number-red:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      position: absolute;
      top: 5px;
      left: 0px;
      background: #F44336;
    }
  }
}
